.snakemake/
Logs
__pycache__**
src/mmaseq/data/reads/*fastq.gz
!src/mmaseq/data/reads/Ec_Test_R?.fastq.gz
resources/
*DS_store
.gitignore
dist/
Deploy/
Test/
config/*yaml
!config/results_catalogue.yaml
*Results/
MMAseq_Test/*
*.swp
*.sublime-*
